@import "tailwindcss";

:root{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glow-amber {
  text-shadow:
    0 0 5px #fbbf24,
    0 0 5px #f59e0b,
    0 0 5px #f59e0b,
    0 0 5px #b45309;
}

.glow-blue {
  text-shadow:
    0 0 7px #60a5fa,
    0 0 7px #3b82f6,
    0 0 7px #2563eb,
    0 0 7px #1d4ed8;
}


.glow-green {
  text-shadow:
    0 0 5px #86efac,
    0 0 5px #4ade80,
    0 0 5px #22c55e,
    0 0 5px #15803d;
}

.glow-border {
  border-color: #60a5fa;
  box-shadow: 0 0 5px #60a5fa,
              0 0 5px #3b82f6,
              0 0 5px #2563eb;

}

/* @keyframes borderPulse {
  0%, 100% {
    box-shadow: 0 0 5px #3b82f6, 0 0 10px #2563eb, 0 0 10px #1d4ed8;
    border-color: #3b82f6;
  }
  50% {
    box-shadow: 0 0 10px #60a5fa, 0 0 20px #3b82f6, 0 0 10px #2563eb;
    border-color: #60a5fa;
  }
}

.glow-border {
  animation: borderPulse 2s infinite ease-in-out;
} */




